[core]
	excludesfile = ~/.config/git/config
	editor = vim
[init]
	templatedir = ~/.git_templates/
[push]
	default = simple
[http]
	cookiefile = ~/.gitcookies
[merge]
	tool = vimdiff3
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff3
[rerere]
	enabled = true
[pull]
	rebase = true
	ff = only
[user]
	name = {{ .name }}
	email = {{ .email }}
