#!/usr/bin/env sh
# vim: set filetype=zsh:

{{ if (eq .chezmoi.os "linux") }}
{{	if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sh $HOME/.scripts/linux-wsl/execute.sh
{{ 	else }}
echo "Running non-WSL Linux"
{{ 	end }}
{{ end }}
