#!/usr/bin/env sh

{{ if (eq .chezmoi.os "linux") }}
{{	if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sh {{ .chezmoi.sourceDir -}} /dot_scripts/linux-wsl/run_once_install-packages.sh
{{ 	else }}
echo "Running non-WSL Linux"
{{ 	end }}
{{ end }}
